/* 
*********
* VonOS *
***********************
 * Waybar Stylization *
 **********************
*/



/* Blinking for Warning and Critical states */
@keyframes blink-warning 
{
 70% 
 { 
  color: @blink; 
 }

 to 
 { 
  color: @blink; 
  background-color: @warning; 
 }
}

@keyframes blink-critical 
{
 70% 
 { 
  color: @blink; 
 }

 to 
 { 
  color: @blink; 
  background-color: @critical; 
 }
}

/* Colors */
@define-color red #ff0000;
@define-color green #00ff00;
@define-color orange #ffb758;
@define-color mode #c90076;
@define-color dark #282a36;
@define-color blink #ff4545;
@define-color warning #ce7e00;
@define-color critical #ff0000;
@define-color lightpurple #bd93f9;
@define-color workspacesfocused #4c566a;

/* Reset */
* 
{
 min-height:    0;
 border-radius: 5px;
 border:        10px;
 margin:        0.3em 0.3em 0.3em 0.3em;
}

/* Whole Bar */
#waybar 
{
 background: rgba(0,0,0,0);

 font-size:   12px;
 font-family: "Bitstream Vera Sans Mono Bold";
 font-weight: bold;
}

/* Modules */
#cpu,
#memory,
#network,
#pulseaudio,
#temperature,
#custom-pacman,
#custom-gammarelaybrightness,
#custom-gammarelaytemperature
{
 color:      @lightpurple;
 background: @dark;

 padding-left:  0.7em;
 padding-right: 0.7em;
 padding:       0 0.7em;
 font-weight:   bold;
}

#custom-pacman
{
 color:      @orange;
 background: @dark;

 padding-left:  0.7em;
 padding-right: 0.7em;
 padding:       0 0.7em;
 font-weight:   bold;
}

#custom-power
{
 color:      @red;
 background: @dark;

 padding-left:  0.7em;
 padding-right: 0.7em;
 padding:       0 0.7em;
 font-weight:   bold;
}

#battery
{
 color:      @green;
 background: @dark;

 padding-left:  0.7em;
 padding-right: 0.7em;
 padding:       0 0.7em;
 font-weight:   bold;
}

#mode
{
 color:      #fb9062;
 background: @dark;

 padding-left:  0.7em;
 padding-right: 0.7em;
 padding:       0 0.7em;
 font-weight:   bold;
}

/* Blinking Modules */
#mode,
#memory,
#battery, 
#temperature
{
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction:       alternate;
}

/* Critical Modules */
#cpu.critical,
#memory.critical,
#battery.critical, 
#temperature.critical
{
 color: @critical;
}

/* Critical/Blinking Modules */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging 
{
 animation-duration: 3s;
 animation-name:     blink-critical;
}

/* Warning */
#cpu.warning,
#memory.warning,
#battery.warning, 
#temperature.warning,
#network.disconnected
{
 color:      @dark;
 background: @warning;
}

/* Blinking Warnings */
#battery.warning.discharging 
{
 animation-duration: 3s;
 animation-name:     blink-warning;
}

/* Modules in Order */
#mode 
{ 
 color: @blink;
 background: @mode;
}

/* Workspaces */

#workspaces 
{
 margin-right: 10px;
}

#workspaces button 
{
 background: none;

 padding:     0;
 opacity:     0.3;
 font-size:   1em;
 font-weight: bold; 
}

#workspaces button.urgent 
{
 color:        @red;
 border-color: @red;

 opacity: 0.8;
}

#workspaces button.focused 
{
 color:      #ffffff;
 background: #bd93f9;

 opacity: 1;
 padding: 0 0.5em;
}
